html, body, esri-map .map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.map-col {
	padding: 0;
}

esri-map esri-search .arcgisSearch {
	display: block;
	position: absolute;
	z-index: 2;
	top: 80px;
	left: 65px;
}

.pane {
	padding: 1em;
}

.right-panel {
	padding-top: 20px;
}

.top-buffer {
	margin-top: 20px;
}


.iamdoner-indicator {
	position: absolute;
	top: 5px;
	right: 20px;
	z-index: 3;
}